.question-opened-container
  width: 60%
  margin: 0 auto
  text-align: justify
  .user-info
    display: flex
    gap: 2.2rem
    align-items: center
  .question-opened-title
    margin: 2rem 0 0 0


@media screen and (min-width: 2500px)
  .question-opened-container
    width: 40%