.profile-container
  text-align: left
  width: 70%
  margin: 0 auto
  .profile-left
    display: flex
    justify-content: left
    align-items: center
    gap: 2.2rem
    .profile-user-name
      font-size: 1.4rem
      font-weight: bold
  .profile-my-questions-header
    margin: 3rem 0 0 0
    display: flex
    gap: 10px
    align-items: center
  .profile-my-badges-header
    margin: 3rem 0 0 0
