.question-outer-container
  display: flex
  justify-content: center
  align-items: center

  .question-icon
    cursor: pointer
    width: 25px
    margin: 0 .5rem

.question-container
  transition: all .2s

  &:hover
    background: var(--accent-color)
    color: var(--main-color)
    transition: all .2s
  animation-name: popup
  animation-duration: .3s
  animation-fill-mode: forwards
  transform: scale(0)
  margin: 1rem 0 0 1rem
  width: 1000px
  background: var(--main-color)
  border-radius: 10px
  position: relative

  .question-content
    text-align: justify
    padding: 0 2rem
  .question-top
    padding: 0 1rem 0 0
    display: flex
    justify-content: center
  .question-top-left
    border-radius: 10px 0 0 0
    padding: 0 .3rem
    margin: 0 2rem 0 0
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: absolute
    left: 0
    top: 0
  .question-top-right
    padding: .3rem 0
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
  .question-bottom
    padding: .3rem 1.3rem
    background: var(--accent-color)
    color: var(--main-color)
    border-radius: 10px
    display: flex
    justify-content: space-between
    align-items: center
  .question-likes
    display: flex
    justify-content: center
    align-items: center
  .question-dislikes
    display: flex
    justify-content: center
    align-items: center
    .dislike-icon
      transform: rotate(180deg)

  .question-likes-text
    font-size: 1.2rem

  .question-dislikes-text
    font-size: 1.2rem

  .question-bottom-right
    display: flex
    justify-content: center
    align-items: center

  .question-bottom-user-data
    display: flex
    justify-content: center
    align-items: center
    gap: 1rem

    .user-question-img
      border-radius: 50%
      width: 70px
      height: 70px

  .question-title
    font-size: 1.4rem
    margin: 1rem 0 0 0


@media screen and (max-width: 1100px)
  .question-container
    width: 60vw

    .question-bottom-user-data
      gap: .5rem

    .question-top
      flex-direction: column

    .question-top-left
      display: none

    .question-top-right
      padding: 0 0 0 1rem

@media screen and (max-width: 700px)
  .question-container
    .question-content
      padding: 0 .3rem
    width: 80vw
  .question-icon
    display: none

    .question-bottom-user-data
      .user-question-img
        width: 50%

@keyframes popup
  from
    transform: scale(0)
  to
    transform: scale(1)