.question-container
  background: linear-gradient(to right, rgba(1, 90, 255, 0.3), rgba(1, 90, 255, 0.8))
  border-radius: 10px
  .question-top
    padding: 1rem
  .question-bottom
    padding: 1rem
    background: whitesmoke
    display: flex
    justify-content: space-evenly
    align-items: center
  .question-icon
    width: 50px
    margin: 0 .5rem
  .question-likes
    display: flex
    justify-content: center
    align-items: center
  .question-dislikes
    display: flex
    justify-content: center
    align-items: center
    .dislike-icon
      transform: rotate(180deg)
  .question-likes-text
    font-size: 1.2rem
  .question-dislikes-text
    font-size: 1.2rem
  .question-bottom-right
    display: flex
    justify-content: center
    align-items: center