body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Bebas Neue', cursive;
}
a{
  text-decoration: none;
  color: inherit;
}
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 900px){
  .wrapper{
    width: 100%;
  }
}

@media screen and (min-width: 2500px){
  .wrapper{
    width: 60%;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

}