.trending-container
  .trending-questions
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
  .trending-header
    .trending-header-top
      margin: 1rem 0 0 0
      display: flex
      justify-content: center
      align-items: center
      gap: 1rem
  .trending-header-bottom
    display: flex
    justify-content: center
    align-items: center
    gap: 10px

@media screen and (max-width: 1100px)
  .trending-container
    .trending-questions, .trending-header-bottom
      flex-direction: column
